//- Meta Tag

// Meta Tag
meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='keywords' content='')
meta(name='description' content='')
meta(name='author' content='')

// Title Site
title #{title}
link(href='img/favicon.png' rel='shortcut icon' type='image/x-icon')

// Open Graph
meta(property='og:url' content='')
meta(property='og:title' content='')
meta(property='og:description' content='')
meta(property='og:site_name' content='')
meta(property='og:image' content='')

// CSS Documentation
link(rel='stylesheet' type='text/css' href='css/font-awesome.min.css')
link(rel='stylesheet' type='text/css' href='css/animate.css')
link(rel='stylesheet' type='text/css' href='css/jquery.fullPage.css')
link(rel='stylesheet' type='text/css' href='css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='css/app.min.css')

// Base Fonts
link(rel='stylesheet' href='')
link(rel='stylesheet' href='')